{% assign certificates = data.certificates %}
{% if certificates and certificates.display %}
<section class="certificates">
    <div class="section-title">
        {{ certificates.title }}
    </div>

    <div class="section-content">
        <div class="row">
            {% for certificate in certificates.items %}
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="item">

                    <div class="upper-row">
                        <div class="certificate">{{ certificate.name }}</div>
                        {% if certificate.link %}
                        <div class="time"><a href="{{ certificate.link }}">{{ certificate.linkName }}</a></div>
                        {% endif %}
                    </div>

                    {% for certificateRow in certificate.row %}
                    <div class="upper-row">
                        {% if certificateRow.link %}
                        <div ><a href="{{ certificateRow.link }}">{{ certificateRow.authority }}</a>
                        </div>
                        {% else %}
                        <div >{{ certificateRow.authority }}</div>
                        {% endif %}
                        <div class="reawrd">{{ certificateRow.reward }}</div>
                        <div class="time">{{ certificateRow.time }}</div>
                    </div>
                    {% endfor %}

                    {% if certificate.details %}
                    <div class="details">
                        <div class="markdown">
                            {{ certificate.details | markdownify }}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}