@font-face {
  font-family: fira_code;
  src: url(https://cdn.bootcdn.net/ajax/libs/firacode/6.2.0/fira_code.min.css);
}

body {
  font-size: 14px;
  font-family: 'Fira Code', 'Microsoft YaHei', '微软雅黑';
}

.certificates .item {
  margin-top: 10px;
}

.projects .item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.projects .project a,
.certificates a {
  color: #333 !important;
}

a:hover {
  text-decoration: underline !important;
}

.time a {
  color: #97aac3 !important;
}

section {
  margin: 12px 0;
}

.onlineResume {
  position: absolute;
  right: 40px;
}

.onlineResume a {
  color: #333 !important;
}